body {
    font: 14px Futura, sans-serif;
    margin: 20px;
    box-sizing: border-box;
}


.timeRow {
    margin-top: -2px;
}

.timeRow .timeCell {
    background: #fff;
    border: 1px dashed #999;
    margin-left: -1px;
    padding: 0;
    width: 29px;
    height: 29px;
}

.timeRow .timeCell.beat {
    border-left-style: solid;
}

.timeRow .timeCell.active {
    background: rgba(250, 200, 200, 40)
}

.arrangement {
    position: relative;
}

.noteRow {
    margin-top: -1px;
    padding: 0;
    position: relative;
    height: 29px;
}

.noteRow .noteGrid {
    position: absolute;
}

.noteRow .note {
    position: absolute;
}

.transport {
    margin-bottom: 1em;
}

.transport .playStop {
    padding: 1em;
}

.transport .position {
    display: inline;
    font-family: monospace;
}