body {
    font: 14px Futura, sans-serif;
    margin: 20px;
}

button.gridCell {
    background: #fff;
    border: 1px dashed #999;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0;
    width: 29px;
    height: 29px;
}

.noteRow {
    margin-top: -1px;
    padding: 0;
    position: relative;
    height: 29px;
}

.noteRow .noteGrid {
    position: absolute;
}

.noteRow .note {
    position: absolute;
}